# Airflow
AIRFLOW_FERNET_KEY=your_fernet_key_here

# Gmail SMTP
SMTP_HOST=smtp.gmail.com
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_gmail_app_password
SMTP_PORT=587
SMTP_MAIL_FROM=your_email@gmail.com

# MySQL
MYSQL_ROOT_PASSWORD=